@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  height: 100vh;
}

.font-weight-100{
  font-weight: 100;
}

.font-weight-200{
  font-weight: 200;
}

.font-weight-300{
  font-weight: 300;
}

.font-weight-400{
  font-weight: 400;
}

.font-weight-500{
  font-weight: 500;
}

.font-weight-600{
  font-weight: 600;
}

.font-size-small{
  font-size: 0.8rem;
}

.card-width{
  width: 30rem;
}

/* slider-range */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px;
  border-radius: 5px;
  background: #e9ecef; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border: none;
  border-radius: 25px;
  background: #dc3545; /* Red background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-webkit-slider-thumb:hover{
  width: 27px; /* Set a specific slider handle width */
  height: 27px; /* Slider handle height */
  box-shadow: 0px 0px 5px #dc3545;
  transition: box-shadow .5s ease-in;
  transition: width .5s ease-in;
  transition: height .5s ease-in;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border: none;
  border-radius: 25px;
  background: #dc3545; /* Red background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb:hover{
  width: 27px; /* Set a specific slider handle width */
  height: 27px; /* Slider handle height */
  box-shadow: 0px 0px 5px #dc3545;
  transition: box-shadow,width,height .5s ease-in;
  /* transition: width .5s ease-in;
  transition: height .5s ease-in; */
}
